@import url('https://fonts.googleapis.com/css?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  /* colors */
  --primary:      rgb(46, 128, 158);
  --secondary:    rgb(163, 201, 215);

  --background:   rgb(33, 33, 33);
  --background-09: rgba(33, 33, 33, 0.9);
  --background-08: rgba(33, 33, 33, 0.8);
  --background-07: rgba(33, 33, 33, 0.7);
  --background-06: rgba(33, 33, 33, 0.6);
  --background-05: rgba(33, 33, 33, 0.5);
  --background-04: rgba(33, 33, 33, 0.4);
  --background-03: rgba(33, 33, 33, 0.3);
  --background-02: rgba(33, 33, 33, 0.2);
  --background-01: rgba(33, 33, 33, 0.1);

  --backdrop:   rgba(255, 235, 210, 0.1);

  --white:      rgb(240, 240, 255); 
  --black:      rgb(17, 17, 17);

  --font-light: var(--white);
  --font-dark:  var(--black);

  --error:   rgb(209, 44, 44);
  --warning: rgb(240, 225, 61);

  --radius-xl: 2.6rem;
  --radius-l:  1.8rem;
  --radius-m:  1.2rem;
  --radius-s:  0.6rem;

  --transition-slow:   800ms;
  --transition-medium: 400ms;
  --transition-fast:   200ms;

  --nav-height-desktop: 10rem;
  --nav-height-mobile: 7rem;

  --box-shadow:        var(--black) 0px 2rem 3rem -1rem;
  --box-shadow-nav:    var(--black) 0px 0rem 3rem -1rem;
  --box-shadow-footer: var(--black) 0px 0rem 3rem -1rem;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

/* Root font-size: 1rem = 10px */
html {
  font-size: 10px;
}

/* Font */
h1, h2, h3, h5, p, ul, li, a, span, input, textarea, label, summary, details {
  font-family: 'Quicksand', monospace;
}

h1, h3, h4 {
  font-family: 'Signika Negative', sans-serif;
}

/* Color */
h2, h3, h4, p, ul, li, a, span, label, summary, details {
  color: var(--font-light);
}

h5, h6 {
  color: var(--font-light);
}

h6 {
  font-family: monospace;
}

/* Size */
h1 {
  color: var(--secondary);
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: 2.6rem;
}

h3 {
  color: var(--secondary);
  font-size: clamp(2.5rem, 4vw, 3rem);
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, ul, li, a {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

/* Code for Firefox */
::-moz-selection { 
  color: var(--font-light);
  background: var(--primary);
}

::selection {
  color: var(--font-light);
  background: var(--primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--font-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-09);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-05);
}